body {
    margin: 0;
    padding: 0;
}

.brown {
    color : rgb(255,255,255);
}

.background {
    background-color: rgb(62,138,79);
}

section {
    justify-content: center;
}

.big-text {
    font-size: 3vw;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
}

.small-text {
    font-size: 1.5vw;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.center-position {
    text-align: center;
}

.duck-list {
    justify-content: center;
    display: flex;
}

.top-border {
    height: 5.5vw;
    background-color: rgb(150,75,0);
    justify-content: flex-start;
    display: flex;
}

.bottom-border {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.5vw;
    background-color: rgb(150,75,0);
}

.logo-style {
    height: 5.5vw;
    width: 5.5vw;
}

.create-button {
    text-align: center;
    margin-top: 10vw;
    font-size: 1.5vw;
    width: 10vw;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.input-fields {
    height: 2vw;
    width: 12vw;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 1.5vw;
    border-radius: 0.7vw;
    margin-bottom: 1vw
}

.buttons-sorted {
    text-align: center;
    margin-bottom: 1vw;
}

button {
    font-size: 1.5vw;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.right-border {
    margin-right: 5vw;
}

form {
    margin-bottom: 1vw;
}

.square {
    height: 12vw;
    width: 12vw;
    background-color: rgb(128,128,128);
    justify-content: flex-start;
    display: flex;
    margin-right: 7vw;
}

.upload-button {
    display: flex;
}